<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<title>Marisa's Big Shiny Tunes</title>
<style>
body{background:#121212;color:#FAF9F6;font-family:monospace;font-size:100%;}
#wrapper{font-size:1.2em;}
ul,ul>li{list-style-type:square;}
strong{font-weight:bold;}
a,a:link{color:#408080;text-decoration:underline}
a:visited{color:#F0F}
a:hover{color:#0F0}
#top{display:block;position:absolute;top:0;bottom:0;width:1px;height:1px;}
</style>
</head>
<body id="body">
<div id="top"></div>
<div id="wrapper">
<div id="content">
{{ md }}</div>
<div id="footer">
<hr>
<p>EDITOR'S NOTE (oh wait, I'm the editor!) FOR 'LEGAL' REASONS: this document is a playlist <strong>ONLY</strong>! <strong>NO</strong> copyrighted music files are provided or linked to here!</p>
<hr>
<p><a href="#top">Return to the top of this page...</a></p>
</div>
</div>
</body>
</html>